.logo,
.header-link,
.menu-link,
.footer-list,
.link,
.footer-link,
.footer-link-adress,
.header-link,
.portfolio-menu-link{
    text-decoration: none;
}

.list,
.header-link,
.menu-list,
.footer-list,
.header-links,
.portfolio-menu,
.portfolio-list,
.portfolio-main-menu{
    list-style: none;
}

img {
    display:block;
}
 
.menu-link{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
        color: #212121;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */

    letter-spacing: 0.03em;

    color: #2196F3;
}

.article-text{
font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;
    position: absolute;
        width: 696px;
        height: 120px;
        left: 452px;
        top: 280px;
}
.first-page{
    background-color: #2F303A;
    width: 1600px;
    height: 600px;
}

.page-button{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        /* identical to box height, or 188% */
    
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
    
        color: #FFFFFF;
        background-color: #2196F3;
        cursor: pointer;
        display: flex;
        margin-top: 140px;
}

.main-text{
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: #212121;
        display: flex;
        gap: 30px;
        margin-bottom: 10px;
}

.second-text{
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */
    
        letter-spacing: 0.03em;
    
        color: #757575;
}

.secondary-artile{
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #212121;
        padding-top: 94px;
}

.names{
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */
    
        letter-spacing: 0.03em;
    
        color: #212121;
        display: flex;
        margin-top: 30px;
        margin-bottom: 10px;
        gap: 183px;
        justify-content: center;
        
}

.names-work{
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */
    
        letter-spacing: 0.03em;
    
        color: #757575;
        display: flex;
        padding-bottom: 30px;
        gap: 162px;
        justify-content: center;
        
}

.footer-link-adress{
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */
    
        letter-spacing: 0.03em;
    
        color: #FFFFFF;
}

.footer-link{
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */
    
        letter-spacing: 0.03em;
    
        color: rgba(255, 255, 255, 0.6);
}

.main-footer{
    background-color: #2F303A;;
}

.portfolio-menu{
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        /* identical to box height, or 162% */
    
        letter-spacing: 0.03em;
    
        color: #212121;
}

.portfolio-brand-names{
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 36px;
        /* identical to box height, or 200% */
    
        letter-spacing: 0.06em;
    
        color: #212121;
        display: flex;
        gap: 78px;
}

.portfolio-work-names{
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        /* identical to box height, or 188% */
    
        letter-spacing: 0.03em;
    
        color: #757575;
        display: flex;
        gap: 78px;
}

.menu-link:hover,
.header-link:hover,
.menu-link:focus,
.header-link:focus,
.footer-link:hover,
.footer-link:focus,
.footer-link-adress:hover,
.footer-link-adress:focus{
    color:#2196F3
}

.header-link{
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
        color: #757575;
}

.portfolio-button:hover,
.portfolio-button:focus{
    color:#FFFFFF
}

.portfolio-button{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        /* identical to box height, or 162% */
    
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #212121;

    background: #F5F4FA;
        border-radius: 4px;
        cursor: pointer;
}

.portfolio-button:hover,
.portfolio-button:focus{
    background-color: #2196F3;
}

.main-section{
font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,p{
    margin-top: 0%;
    margin-bottom: 0%;
}

ul, ol{
    margin-top: 0%;
    margin-bottom: 0%;
    padding-left: 0%;
}

.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.header-container {
display: flex;
flex-direction: row;
}

.menu-containers {
    display: flex;
    margin-left: 93px;
    gap: 50px;
    margin-right: 344px;
    margin-bottom: 32px;
    margin-top: 32px;
    
}

.header-links-container {
    display: flex;
    gap: 50px;
    margin-bottom: 32px;
    margin-top: 32px;
}

.first-page-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 200px;
    padding-bottom: 280px;

}

.logo-container {
    display: flex;
    margin-bottom: 24px;
    margin-top: 25px;
}

.page-button-container {
    display: flex;
    margin-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
}

.article-text-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.list-container {
    display: flex;
    padding-top: 94px;
    gap: 30px;
    padding-bottom: 94px;

}

.list-pictures-container {
    display:flex;
    padding-top: 50px;
    padding-bottom: 94px;
    gap: 30px;

}

.Our-Team-Page {
    background-color: #F5F4FA;
}

.Our-Team-Page-container {
    display: flex;
    padding-top: 50px;
    gap: 30px;
    padding-bottom: 94px;
}

.footer-logo {
display: flex;
padding-top: 60px;
margin-bottom: 20px;
}

.footer-list{
    display: flex;
    flex-direction:column ;
    gap: 9px;
    padding-bottom: 60px;
}

.menu-containers-portfolio {
    display: flex;
    gap: 50px;

}

.portfolio-nav {
    display: flex;
    gap: 93px;
}


.header-portfolio {
    display: flex;
    justify-content: space-between;
}

.header-links-portfolio {
    display: flex;
    gap: 50px;
    padding-bottom: 32px;
    padding-top: 32px;
}

.menu-list-portfolio {
    display: flex;
    gap: 50px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.logo-portfolio {
    padding-top: 24px;
    padding-bottom: 25px;
}

.main-portfolio-section {
    background-color: #F5F5F5;
}

.portfolio-main-menu {
    display: flex;
    gap: 8px;
    padding-top: 94px;
    justify-content: center;
    
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 50px;
    padding-bottom: 94px;
    
}

.footer-portfolio {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.portfolio-footer-logo {
    display: flex;
    padding-top: 60px;
    margin-bottom: 20px;
}