:root {
--main-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.logo,
.header-link,
.menu-link,
.footer-list,
.link,
.footer-link,
.footer-link-adress,
.header-links,
.header-links-link,
.portfolio-menu-link{
    text-decoration: none;
}

.list,
.header-link,
.menu-list,
.footer-list,
.header-links,
.portfolio-menu,
.portfolio-list,
.list-svg,
.header-links-list,
.header-links,
.secondpage-svgs,
.social-links-list,
.footer-social-links,
.clients-portfolio,
.portfolio-main-menu{
    list-style: none;
}

img {
    display:block;
    max-width: 100%;
    height: auto;
}
 
.menu-link{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
        color: #212121;
        transition:var(--main-transition);


}

.menu-link::before{
content: '';
display: block;
}

.menu-link::after {
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    background-color: transparent;
    border-radius: 2px;
    margin-top: 28px;
}
 
.menu-link:hover::after {
    background-color: #2196F3;
}
      

.menu-link:hover,
.menu-link:focus {
color: #2196F3;
}


.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */

    letter-spacing: 0.03em;

    color: #2196F3;
}

.article-text{
font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;
    margin-bottom: 30px;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
}

.first-page{
    background-color:#C4C4C4;
    padding-bottom: 200px;
    padding-top: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg\ img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
}

.page-button{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        /* identical to box height, or 188% */
    
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
    
        color: #FFFFFF;
        background-color: #2196F3;
        cursor: pointer;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 32px;
        padding-right: 32px;
        border-radius: 4px;
}

.main-text{
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: #212121;
        display: flex;
        gap: 30px;
        margin-bottom: 10px;
}

.second-text{
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */
    
        letter-spacing: 0.03em;
    
        color: #757575;
}

.secondary-artile{
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #212121;
        margin-bottom: 50px;
}

.names{
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */
    
        letter-spacing: 0.03em;
    
        color: #212121;
        display: flex;
        padding-top: 30px;
        margin-bottom: 10px;
        gap: 183px;
        justify-content: center;
        
}

.names-work{
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */
    
        letter-spacing: 0.03em;
    
        color: #757575;
        display: flex;
        margin-bottom: 16px;
        gap: 162px;
        justify-content: center;
        
}

.footer-link-adress{
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */
    
        letter-spacing: 0.03em;
    
        color: #FFFFFF;
        transition: var(--main-transition);
}

.footer-link{
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */
    
        letter-spacing: 0.03em;
    
        color: rgba(255, 255, 255, 0.6);
        transition: var(--main-transition);
}

.main-footer{
    background-color: #2F303A;;
    padding-top: 10px;
    padding-bottom: 60px;
    padding-top: 60px;
}

.portfolio-menu{
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        /* identical to box height, or 162% */
    
        letter-spacing: 0.03em;
    
        color: #212121;
}

.portfolio-brand-names{
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 36px;
        /* identical to box height, or 200% */
    
        letter-spacing: 0.06em;
    
        color: #212121;
        display: flex;
        gap: 78px;
        margin-bottom: 4px;
}

.portfolio-work-names{
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        /* identical to box height, or 188% */
    
        letter-spacing: 0.03em;
    
        color: #757575;
        display: flex;
        gap: 78px;
}


.header-link:hover,
.header-link:focus,
.footer-link:hover,
.footer-link:focus,
.footer-link-adress:hover,
.footer-link-adress:focus{
    color:#2196F3
}

.header-link{
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
        color: #757575;
        transition: var(--main-transition);
}

.portfolio-button:hover,
.portfolio-button:focus{
    color:#FFFFFF
}

.portfolio-button{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        /* identical to box height, or 162% */
    
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #212121;

    background:rgba(245, 244, 250, 1);
        border-radius: 4px;
        border-color: rgba(245, 244, 250, 1);
        cursor: pointer;
        padding: 6px 22px;
        border-color: transparent;
        transition: var(--main-transition);
}

.portfolio-button:hover,
.portfolio-button:focus{
    background-color: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.main-section{
font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,p{
    margin-top: 0%;
    margin-bottom: 0%;
}

ul, ol{
    margin-top: 0%;
    margin-bottom: 0%;
    padding-left: 0%;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header-container {
display: flex;
flex-direction: row;
align-items: baseline;
justify-content: space-between;
}

.menu-containers {
    display: flex;
    margin-left: 93px;
    gap: 50px;
}


.logo-container {
    display: flex;
    padding-bottom: 24px;
    padding-top: 25px;
    align-items: center;
}

.page-button-container {
    margin-left: auto;
    margin-right: auto;
}

.list-container {
    display: flex;
    gap: 30px;
}

.list-pictures-container {
    display:flex;
    gap: 30px;
    max-width: 100%;
    height: auto;

}

.our-team-page {
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}

.our-team-page-container {
    display: flex;
    gap: 30px;
    max-width: 100%;
    height: auto;
}

.footer-logo {
display: flex;
margin-bottom: 20px;
}

.footer-list{
    display: flex;
    flex-direction:column ;
    gap: 9px;
}

.menu-containers-portfolio {
    display: flex;
    gap: 50px;

}

.portfolio-nav {
    display: flex;
    gap: 93px;
}

.header-portfolio {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.header-links-portfolio {
    display: flex;
    gap: 30px;
    padding-bottom: 32px;
    padding-top: 32px;
}

.menu-list-portfolio {
    display: flex;
    gap: 50px;
    padding-top: 32px;
}

.logo-portfolio {
    padding-top: 24px;
    padding-bottom: 25px;
}

.main-portfolio-section {
padding-top: 94px;
padding-bottom: 94px;
}

.portfolio-main-menu {
    display: flex;
    gap: 8px;
    margin-bottom: 50px;
    justify-content: center;
    
}

.portfolio-img-link {
    display: block;
    text-decoration: none;
    transition: var(--main-transition);
}

.portfolio-img-link:hover {
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 100%;
    height: auto;
}

.footer-portfolio {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.portfolio-footer-logo {
    display: flex;
    margin-bottom: 20px;
}

.portfolios-work-brand-names {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-left: 1px solid #EEEEEE ;
    border-right: 1px solid #EEEEEE ;
    border-bottom: 1px solid #EEEEEE ;
}

.images-section {
    padding-bottom: 94px;
}

.border-images {
    background: #FFFFFF;
        /* material shadow v1 */
    
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
}

.web-header {
    border-bottom: 1px solid #ECECEC;
}

.second-page {
    padding-top: 94px;
    padding-bottom: 94px;
}

.main-navigation {
    display: flex;
    align-items: baseline;
}

 /*Header-Links start*/

.header-links-icon {
 display: block;
 height: 12px;
 width: 16px;
 margin-right: 10px;
 margin-left: 318px;
transition: var(--main-transition);
}

.header-links-icon:hover,
.header-links-icon-phone:hover {
    fill: #2196F3;
}

.header-links {
    display: flex;
    fill: #757575;
    align-items: baseline;
}



.header-links-icon-phone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    transition: var(--main-transition);
}

.mail-link {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;

    color: #757575;
    transition: var(--main-transition);
}

.header-links-list-mail {
margin-right: 30px;
}



.phone-link {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
        color: #757575;
        transition: var(--main-transition);
}

.phone-link:hover,
.phone-link:focus,
.mail-link:hover,
.mail-link:focus {
    color: #2196F3;
}

.header-links-link {
    cursor: pointer;
}

.header-portfolio-links-svg {
    display: block;
    width: 161px;
    height: 16px;
}

.header-link:hover{
    fill: #2196F3;
}

.header-main-phone-svg {
    width: 10px;
    height: 16px;
    margin-right: 10px;
}

.header-main-svg {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    transition: var(--main-transition);
}

.header-main-svg:hover {
fill: #2196F3;
}

.header-links-list-mail {
    display: flex;
    gap: 10px;
    transition: var(--main-transition);
}

.header-links-list-mail:hover {
    fill: #2196F3;
}

.header-links-list-phone {
    display: flex;
    gap: 10px;
    transition: var(--main-transition);
}

.header-links-list-phone:hover {
    fill: #2196F3;
}

.header-links-portfolio-main {
    display: flex;
}

/*Header-Links end*/

/*Second-Page-svgs start*/

.secondpage-svgs {
    display: flex;
    gap: 30px;
}

.antenna-div {
display: flex;
width: 270px;
height: 120px;
margin-bottom: 30px;
align-items: center;
justify-content: center;

background: #F5F4FA;
border-radius: 4px;
}

.time-div {
display: flex;
width: 270px;
height: 120px;
margin-bottom: 30px;
align-items: center;
justify-content: center;

background: #F5F4FA;
border-radius: 4px;
}


.chart-div {
    display: flex;
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
}

.man-div {
display: flex;
width: 270px;
height: 120px;
margin-bottom: 30px;
align-items: center;
justify-content: center;
    
background: #F5F4FA;
border-radius: 4px;
}

/*Second-Page-svgs end*/

/*Social-links-SVG start*/

.social-links-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 30px;
}

.social-link-icon {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
   
}

.social-links-link:hover .social-link-icon {
    fill: #FFFFFF;
}

.social-links-link:hover,
.social-links-link:focus {
    background-color: #2196F3;
}
.social-links-link {
    display: flex;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    cursor: pointer;
    transition: var(--main-transition);
}

/*Social-links-SVG end*/

/*Clients-section start*/

.main-text-client-section {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #212121;
        margin-bottom: 50px;
}

.clients-page {
    padding-top: 94px;
    padding-bottom: 94px;

}

.clients-portfolio {
    display: flex;
    gap: 30px;
}

.clients-portfolio-svg {
    display: block;
    fill: #AFB1B8;
    width: 106px;
    height: 60px;
}

.clients-portfolio-link {
    display: flex;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: var(--main-transition);
}


.clients-portfolio-link:hover .clients-portfolio-svg,
.clients-portfolio-link:focus .clients-portfolio-svg {
fill: #2196F3;
}

.clients-portfolio-link:hover,
.clients-portfolio-link:focus {
border-color: #2196F3;
}

/*Clients-section end*/

/*Footer-section start*/

.footer-social-links-word {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: #FFFFFF;
}


.footer-social-svg {
    display: block;
    fill: #FFFFFF;
    width: 20px;
    height: 20px;
}

.footer-social-link {
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: var(--main-transition);
}

.footer-social-links {
    display: flex;
    gap: 10px;
}

.main-footer-links-list {
    display: flex;
    gap: 88px;
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #2196F3;
}

.footer-container {
    display: flex;
    gap: 70px;
    align-items: baseline;
}

.right-part-footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/*Footer-section end*/

.secondary-artile-li {
    position: relative;
}

.list-pictures-overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    

    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    color: #FFFFFF;
}

/*Button*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 100;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.modal {
    width: 528px;
    height: 580px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 50%;
    background: #FFFFFF;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

/*Button*/

.overlay-text {
    padding-top: 63px;
    padding-bottom: 63px;
    padding-right: 24px;
    padding-left: 24px;

    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

    transform: translateY(100%);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);


    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        /* or 156% */
    
        letter-spacing: 0.03em;
    
        color: #FFFFFF;
        background: rgba(33, 150, 243, 0.9);
}

.portfolio-img-wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio-img-link:hover .overlay-text,
.portfolio-img-link:focus .overlay-text {
transform: translateY(0%);
}