.logo,
.header-link,
.menu-link,
.footer-list,
.link,
.footer-link,
.footer-link-adress,
.header-link,
.portfolio-menu-link{
    text-decoration: none;
}

.list,
.header-link,
.menu-list,
.footer-list,
.header-links,
.portfolio-menu,
.portfolio-list,
.portfolio-main-menu{
    list-style: none;
}

img {
    display:block;
}
 
.menu-link{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
        color: #212121;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */

    letter-spacing: 0.03em;

    color: #2196F3;
}

.article-text{
font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;
    margin-bottom: 30px;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
}

.first-page{
    background-color: #2F303A;
    padding-bottom: 200px;
    padding-top: 200px;
}

.page-button{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        /* identical to box height, or 188% */
    
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
    
        color: #FFFFFF;
        background-color: #2196F3;
        cursor: pointer;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 32px;
        padding-right: 32px;
        border-radius: 4px;
}

.main-text{
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: #212121;
        display: flex;
        gap: 30px;
        margin-bottom: 10px;
}

.second-text{
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */
    
        letter-spacing: 0.03em;
    
        color: #757575;
}

.secondary-artile{
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #212121;
        margin-bottom: 50px;
}

.names{
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */
    
        letter-spacing: 0.03em;
    
        color: #212121;
        display: flex;
        padding-top: 30px;
        margin-bottom: 10px;
        gap: 183px;
        justify-content: center;
        
}

.names-work{
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */
    
        letter-spacing: 0.03em;
    
        color: #757575;
        display: flex;
        padding-bottom: 30px;
        gap: 162px;
        justify-content: center;
        
}

.footer-link-adress{
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */
    
        letter-spacing: 0.03em;
    
        color: #FFFFFF;
}

.footer-link{
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */
    
        letter-spacing: 0.03em;
    
        color: rgba(255, 255, 255, 0.6);
}

.main-footer{
    background-color: #2F303A;;
    padding-top: 10px;
    padding-bottom: 60px;
    padding-top: 60px;
}

.portfolio-menu{
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        /* identical to box height, or 162% */
    
        letter-spacing: 0.03em;
    
        color: #212121;
}

.portfolio-brand-names{
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 36px;
        /* identical to box height, or 200% */
    
        letter-spacing: 0.06em;
    
        color: #212121;
        display: flex;
        gap: 78px;
        margin-bottom: 4px;
}

.portfolio-work-names{
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        /* identical to box height, or 188% */
    
        letter-spacing: 0.03em;
    
        color: #757575;
        display: flex;
        gap: 78px;
}

.menu-link:hover,
.header-link:hover,
.menu-link:focus,
.header-link:focus,
.footer-link:hover,
.footer-link:focus,
.footer-link-adress:hover,
.footer-link-adress:focus{
    color:#2196F3
}

.header-link{
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
        color: #757575;
}

.portfolio-button:hover,
.portfolio-button:focus{
    color:#FFFFFF
}

.portfolio-button{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        /* identical to box height, or 162% */
    
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #212121;

    background:rgba(245, 244, 250, 1);
        border-radius: 4px;
        border-color: rgba(245, 244, 250, 1);
        cursor: pointer;
        padding: 6px 22px;
        border-color: transparent;
}

.portfolio-button:hover,
.portfolio-button:focus{
    background-color: #2196F3;
}

.main-section{
font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,p{
    margin-top: 0%;
    margin-bottom: 0%;
}

ul, ol{
    margin-top: 0%;
    margin-bottom: 0%;
    padding-left: 0%;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header-container {
display: flex;
flex-direction: row;
align-items: baseline;
}

.menu-containers {
    display: flex;
    margin-left: 93px;
    gap: 50px;
}

.header-links-container {
    display: flex;
    gap: 50px;
    margin-left: 344px;
}

.logo-container {
    display: flex;
    padding-bottom: 24px;
    padding-top: 25px;
    align-items: center;
}

.page-button-container {
    margin-left: auto;
    margin-right: auto;
}

.list-container {
    display: flex;
    gap: 30px;
}

.list-pictures-container {
    display:flex;
    gap: 30px;
    max-width: 100%;
    height: auto;

}

.our-team-page {
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}

.our-team-page-container {
    display: flex;
    gap: 30px;
    max-width: 100%;
    height: auto;
}

.footer-logo {
display: flex;
margin-bottom: 20px;
}

.footer-list{
    display: flex;
    flex-direction:column ;
    gap: 9px;
}

.menu-containers-portfolio {
    display: flex;
    gap: 50px;

}

.portfolio-nav {
    display: flex;
    gap: 93px;
}

.header-portfolio {
    display: flex;
    justify-content: space-between;
}

.header-links-portfolio {
    display: flex;
    gap: 50px;
    padding-bottom: 32px;
    padding-top: 32px;
}

.menu-list-portfolio {
    display: flex;
    gap: 50px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.logo-portfolio {
    padding-top: 24px;
    padding-bottom: 25px;
}

.main-portfolio-section {
padding-top: 94px;
padding-bottom: 94px;
}

.portfolio-main-menu {
    display: flex;
    gap: 8px;
    margin-bottom: 50px;
    justify-content: center;
    
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 100%;
    height: auto;
}

.footer-portfolio {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.portfolio-footer-logo {
    display: flex;
    margin-bottom: 20px;
}

.portfolios-work-brand-names {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-left: 1px solid #EEEEEE ;
    border-right: 1px solid #EEEEEE ;
    border-bottom: 1px solid #EEEEEE ;
}

.images-section {
    padding-bottom: 94px;
}

.border-images {
    background: #FFFFFF;
        /* material shadow v1 */
    
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
}

.web-header {
    border-bottom: 1px solid #ECECEC;
}

.second-page {
    padding-top: 94px;
    padding-bottom: 94px;
}

.main-navigation {
    display: flex;
    align-items: baseline;
}
