.page-header {
    background-color: #19191B;
}

.logo-header {
    display: flex;
    gap: 23px;
}

@media screen and (min-width:768px) {
    .logo-header {
        justify-content: center;
    }
}

.logo {
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 33px;
        line-height: 39px;
        /* identical to box height */
    
        text-align: right;
    
        color: rgba(255, 255, 255, 0.7);
        width: 156px;
        height: 39px;
        align-self: center;
}

@media screen and (max-width:767px) {
    .header__navigation {
        display: none;
    }
}

@media screen and (max-width:1599px) {
    .header__button {
        display: none;
    }
}

.header__navigation-list {
    display: flex;
    justify-content: center;
    gap: 26.55px;
}

@media screen and (min-width:1600px) {
    .header__navigation-list {
        width: 587px;
        gap: 26px;
    }
}

.header__navigation {
    margin-top: 27.5px;
}

@media screen and (min-width:1600px) {
    .header__navigation {
        display: flex;
        margin-left: 103px;
    }
}

.navigation__link {
    font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        text-align: right;
    
        color: rgba(255, 255, 255, 0.7);
}

.navigation__link:hover,
.navigation__link:focus {
    color: #5454D4;
}

@media screen and (min-width:1600px) {
    .desktop-header-container {
            display: flex;
            margin-left: 0;
            margin-right: 0;
        }
}

.header__button {
    border: 0.66369px solid #FFFFFF;
    background-color: transparent;
    width: 172px;
    height: 48px;
    font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        letter-spacing: -0.331985px;
    
        color: #FFFFFF;
    justify-self:flex-end;
    margin-left: 230px;
}
