.hero {
    background-color:#19191B;
}

@media screen and (min-width:768px) and (max-width:1199px) {
    .background-image {
        background-image: url(../images/tablet/hero-boy-tablet.png);
        background-size: cover;
        background-repeat: no-repeat;
        
        
    }
}
.left-part-hero {
    padding-top: 40.5px;
}

.main-text {
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 50px;
        line-height: 78px;
        /* or 156% */
    
        letter-spacing: 1px;
    
        color: #fff;
        width: 327px;

}

@media screen and (min-width:768px) {
    .main-text {
        width: 442px;
        font-size: 75px;
        line-height: 78px;
        color: #DFDFDF;
    }
}

.text {
    font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 31px;
        /* or 206% */
    
        letter-spacing: -0.43573px;
    
        color: rgba(255, 255, 255, 0.7);
        margin-top: 30px;
}

@media screen and (min-width:768px) {
    .text {
        font-size: 20px;
        width: 467px;
        
    } 
}

.hero__button {
    width: 166px;
    background-color: #5454D4;
    height: 44px;
    font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
    
        color: #FFFFFF;
        display: flex;
        align-items: center;
        padding-left: 10px;
        margin-top: 20px;

}

@media screen and (min-width:768px) {
    .hero__button {
        width: 193px;
        height: 55px;
        margin-top: 30px;
    }
}

.button__svg {
    width: 15px;
    height: 17px;
    fill: #fff;
    margin-left: 10px;
}

@media screen and (max-width:767px) {
    .right-part-hero {
        display: none;
    }
}