.hero {
    background-color:#19191B;
}

@media screen and (min-width:768px) and (max-width:1299px) {
    .bg__hero {
        background-image: url(../images/tablet/hero-boy-tablet.png);
        background-repeat: no-repeat;
        background-position: 290px;
    }
}

@media screen and (min-width:1200px) {
    .hero {
        padding-top: 100px;
        padding-bottom: 300px;
    }
}

.left-part-hero {
    padding-top: 40.5px;
}

.main-text {
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 50px;
        line-height: 78px;
        /* or 156% */
    
        letter-spacing: 1px;
    
        color: #fff;
        width: 327px;

}

@media screen and (min-width:768px) {
    .main-text {
        width: 442px;
        font-size: 75px;
        line-height: 78px;
        color: #DFDFDF;
    }
}

.text {
    font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 31px;
        /* or 206% */
    
        letter-spacing: -0.43573px;
    
        color: rgba(255, 255, 255, 0.7);
        margin-top: 30px;
}

@media screen and (min-width:768px) {
    .text {
        font-size: 20px;
        width: 467px;
        
    } 
}

.hero__button {
    width: 166px;
    background-color: #5454D4;
    height: 44px;
    font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
    
        color: #FFFFFF;
        display: flex;
        align-items: center;
        padding-left: 10px;
        margin-top: 20px;

}

@media screen and (min-width:768px) {
    .hero__button {
        width: 193px;
        height: 55px;
        margin-top: 30px;
    }
}

.button__svg {
    width: 15px;
    height: 17px;
    fill: #fff;
    margin-left: 10px;
}

@media screen and (min-width:768px) {
    .right-part-hero {
        display: none;
    }
}

.right-part-hero {
    position: relative;
    background-color:#19191B;
}

.sub-rectangle__hero {
    position: absolute;
    top: 90px;
    left: 30px;
    width: 218px;
    height: 218px;

}

.rectangle__hero {
    position: absolute;
    width: 218px;
    height: 218px;
    left: 40px;
    top: 120px;
    z-index: 10;
}

.hero__picture {
    width: 218px;
    position: absolute;
    z-index: 11;
    top: 53px;
    left: 40px;

}

@media screen and (max-width:1299px) {
    .right-part-hero-desktop {
        display: none;
    }
}

.right-part-hero-desktop {
    position: absolute;
    top: 140px;
    right: 150px;
}
