@media screen and (max-width:768px) {
    .phone-logo {
            width: 134px;
            height: 28px;
            padding-top: 16px;
            padding-bottom: 16px;
        }
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */

    letter-spacing: 0.03em;

    color: #2196F3;
}
@media screen and (max-width:1199px) {
    .logo{
        font-size: 24px;
        line-height: 28px;
        display: flex;
        justify-content: center;
    }
}
@media screen and (min-width: 1200px) {
    

.logo-container {
    display: flex;
    padding-bottom: 24px;
    padding-top: 25px;
    align-items: center;
}

.portfolio-footer-logo {
    display: flex;
    margin-bottom: 20px;
}

.logo-portfolio {
    padding-top: 24px;
    padding-bottom: 25px;
}

.footer-logo {
    display: flex;
    margin-bottom: 20px;
}

.logo {
    text-decoration: none;
}
@media screen and (max-width:767px) {
   .mobile-footer-logo{
    margin-left: 50px;
   }
    
}


.logo-container {
    display: flex;
    padding-bottom: 24px;
    padding-top: 25px;
    align-items: center;
}

.footer-logo {
    display: flex;
    margin-bottom: 20px;
    margin-left: 40px;
}

@media screen and (min-width:1200px) {
    .footer-logo {
        margin-left: 215px;
    }
}

.logo-portfolio {
    padding-top: 24px;
    padding-bottom: 25px;
}
}